/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #000;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body.home{
	background-color: $black;
}

/*********************
LAYOUT & GRID STYLES
*********************/

/*  WEBSITE MAIN WRAP */
div#inner-content, div#inner-header, div#inner-footer{
	@include outer-container(90%);
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
	padding: 00px 0px 10px;
	
}

	#logo {
		margin: 0;
		@include span-columns(9);
		//background-color: red;
		padding: 15px 0 10px;

		img{
			width: 100%;
			height: auto;
		}
	}


/*********************
NAVIGATION STYLES
*********************/
div#navigation-wrapper{
	//background: blue;
	@include span-columns(1);
	@include shift(2);

	button#trigger-overlay{
		background: url(../images/iv-menu-icon.png) no-repeat center center;
		height: 50px;
		width: 50px;
		background-size: 100%;
		float:right;
		border:none;
		text-indent: -9999px;
	}
}
/****************** Overlay style ********************/
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $black;
}

/* Overlay closing cross */
div#logo-overlay{
	display:none;
}

.overlay .overlay-close {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 5%;
	top: 25px;
	border: none;
	background: url(../images/iv-menu-close-icon.png) no-repeat center center;
	background-size: 100%;
	text-indent: -500%;
	overflow: hidden;
	
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 43%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 65%;
	position: relative;
	//background: red;
}

.overlay ul li {
	display: block;
	height: 8%;
	margin-bottom: calc(100% / 7);
	//min-height: 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding-bottom: calc(100% / 7);
	line-height: 2em;
}


li#menu-item-19{
	border: 1px solid $white;
	padding: 20px 50px;
	line-height: .5em;
	border-radius: 100px;
	height: 55px;
	line-height: 1em;
}
li#menu-item-15 {
	padding-bottom: 70px;
	line-height: 2.5em;
	&:after{
		content: url(../images/menu-break.png);
		position: absolute;
		left: 0;
		right: 0;
		

		

	
	
	}
	
}
.overlay ul li a {
	font-size: 1.25em;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .04em;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 80%;
		font-size: 1em;
		margin-top: 20px;
	}
	.overlay ul li {
		//min-height: 12px;
		height: 10px;
		height: 8%;
	margin-bottom: calc(100% / 20);
	}
}
/*********************
POSTS & CONTENT STYLES
*********************/


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {}
	

/******************************************************************
COMMENT STYLES
******************************************************************/

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: #f4f4f4;
}
